body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

body > header {
    background-color: #065e71;
    color: #ffffff;
    margin: 0px;
    padding: 20px 20px 5px 20px;
}

body > header a, body > header a:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

body > header > h1 {
    margin: 0px 0px 20px 0px;
    font-weight: 100;
    font-size: 5em;
    text-align: center;
}

aside.bio-info {
    font-size: 0.8em;
    font-weight: 100;
    text-align: center;
}

aside.bio-info > div {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 30px;
}

aside.bio-info > div > p {
    display: inline;
}

.address-unit-number::after, .street-name::after, .suburb::after {
    content: ", "
}

main {
    display: block;
    margin: 50px 0px 0px 0px;
    text-align: center;
}

main > div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0px 25px 0px 25px;
}

main section {
    padding: 0px 50px 50px 0px;
}

main section#career {
}

main section > h2 {
    font-size: 3em;
    font-weight: 100;
    margin: 0px 0px 20px 0px;
    color: #065e71;
}

main section#career > h2 {
    margin-left: 140px;
}

div.career-entry {
    margin-left: 120px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-left: 5px solid #065e71;
}

div.career-entry > span.entry-time {
    margin-left: -140px;
    float: left;

    background-color: #065e71;
    color: #ffffff;
    width: 120px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;

    border-radius: 10px 0px 0px 10px;
}

span.organisation {
    font-size: 1.1em;
    font-weight: bold;
}

span.job-title {
    display: block;
    color: rgb(75, 75, 75);
    font-style: italic;
}

div.career-entry ol {
    margin: 0px;
}

body > footer {
    clear: both;
    text-align: center;
    font-weight: 300;
}
